.margin{width: 990px;margin: 0 auto;}
$twoColor:#f5f5f5;

$top:#eee;
$maincolor:#ff666b;
$wit:#fff;

#top{height: 32px;border: 1px solid $top;background:$twoColor;text-align:center;
    .t-left{float: left;line-height: 32px;font-size: 13px;}
       .t-left em{width: 117px;display: inline-block;}
       .t-left a{padding: 0 5px;}
       .t-left .login{margin-left: 10px;color: $maincolor;}
       
    .t-right{float: right;}
        .t-ul li{float: left; height: 32px;line-height: 32px;    height: 32px;padding: 0 10px;  
        
        }
        .t-ul li .menu1{position: relative;}
        .t-ul li .menu1 .menu1-p{padding-right: 14px;}
        .t-ul li .menu1 b{background: url(../imgs/common_icon.png);position: absolute;right: 0px;top: 14px;display: inline-block;width: 11px;height: 11px;transition: .2s ease-in-out;vertical-align: -1px;background-position: 0 -80px;}
        .t-ul .mytaobao{position: relative;cursor: pointer;}
        .t-ul li .menu2{position: absolute;left: 0;top: 33px;background:$twoColor;
            opacity: .99;z-index: 93110;border: solid #eee;border-width: 0 1px 1px;width: 74px;
        padding: 8px 10px;display: none;}
        .t-ul .menu2 .menu-hd{margin: 0;padding: 0;}
        .t-ul .menu2 .menu-hd a{display: block;font-size: 13px;line-height: 25px;text-align:left;}
        .t-ul .mystores{cursor: pointer;}
        .t-ul .mystores .kefu i{background: url(../imgs/common_icon.png);background-position: -292px -147px;
            width: 15px;height: 15px;margin-right: 5px;vertical-align: middle;margin-top: -4px;
            display: inline-block;;}
        .t-ul .mystore{padding-left: 10px;}
        .t-ul .mystore font{color: $maincolor;}
}
#top .person:hover .menu1{border: solid #eee;border-width:1px 1px 0;}
#top .person:hover .menu1 a{color: $maincolor;}
#top .person:hover .menu2{display: block;}

#header{height: 90px;padding-top: 20px;
    .mall-logo {
        float: left;
        position: relative;
        height: 70px;
        margin-top: 8px;
    }
}
#car{z-index:4;
    .tit{    background: #f3f3f3;
    height: 45px;
    line-height: 45px;}
    .thumb_name dl {
        float: left;
        margin: 13px 10px 13px 30px;
        dt {
            float: left;
            width: 80px;
            text-align: center;
            img {
                width: 60px;
                height: 60px;
            }
        }
        dd {
            float: left;
            width: 245px;
            text-align: left;
            font-size: 14px;
            a.f6 {
                font-size: 12px;
            }
        }
        .cart_jmprice {
            font-size: 12px;
            font-family: "Microsoft YaHei";
        }
    }
    .jm_cartnum {
        width: 65%;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        .jminputBg {
            float: left;
            width: 30px;
            text-align: center;
            margin: 0;
            border: 1px solid #ddd;
            height: 20px;
            line-height: 20px;
            background: #fff;
        }
    }
    a.continue_buy {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin-left: 15px;
        width: 140px;
        height: 40px;
        line-height: 40px;
        background: #fafafa;
        border: 1px solid #d9d9d9;
    }
    .te{float: right;}
    .xiaoji{
        color: #ff666b;
        font-family: Helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
    }
    .checkout {
        display: inline-block;
        text-align: center;
        font-size: 17px;
        width: 150px;
        height: 40px;
        line-height: 40px;
        background: #ff666b;

    }
}


#footer{color: #ccc;margin-top:100px;bottom:0;width:100%;
    p{margin: 0;line-height: 25px;}
    .nav_bottom{
        a{    padding: 0px 8px;color: #ccc;}}
    .indexfoot{height: 50px;text-align: center;width: 625px;margin: 15px auto 0;}
}